/* Add here your CSS commands */
body {
	color: #333333;
	margin: 0;
	padding: 0px;
	background-color: transparent;
}
#portal-columns{
	overflow: visible !important;
	padding: 0;
	display: block;
	clear: both;
	position: relative;
}
#portal-column-content > div{
	margin: 0px auto;
	min-width: 995px;
	max-width: 1024px;
}
#header-holder {
	width: 100%;
	min-width: 995px;
	clear: both;
	display: block;
	position: relative;
	background-color: #777c1f;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b1c748), to(#777c1f));
	background-image: -webkit-linear-gradient(center top , #b1c748, #777c1f);
	background-image: -moz-linear-gradient(center top , #b1c748, #777c1f);
	background-image: -ms-linear-gradient(center top , #b1c748, #777c1f);
	background-image: -o-linear-gradient(center top , #b1c748, #777c1f);
	background: linear-gradient(#b1c748, #777c1f);
	height: 60px;
}
#header{
	margin: 0 auto;
	min-width: 995px;
	max-width: 1024px;
	padding-top: 12px;
}
#header h1{
	float: left;
	color: white;
	font-size: 24px;
}
#eea-logo-holder{
	float: right;
	margin-top: -15px;
}
#eea-logo-holder img{
	height: 62px;
}
#climate-action-logo-holder{
	float: right;
	margin-right: 14px;
	margin-top: -5px;
	color: white;
}
#climate-action-logo-holder span{
	color:white;
	font-size: 12px;
}

#climate-action-logo-holder img{
	height: 43px;
	vertical-align: middle;
}
.bold{
	font-weight: bold;
}

#portal-footer {
	background: #478EA5;
	background-image: -webkit-linear-gradient(top,#478EA5,#346F83);
	background: -webkit-linear-gradient(#478EA5, #346F83);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#478EA5', endColorstr='#346F83');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#478EA5', endColorstr='#346F83')";
	background: -moz-linear-gradient(#478EA5, #346F83) repeat scroll 0 0 transparent;
	background-image: -ms-linear-gradient(top,#478EA5,#346F83);
	background-image: -o-linear-gradient(top,#478EA5,#346F83);
	background-image: linear-gradient(top,#478EA5,#346F83);
	margin: 2em 0 2em 0;
	/**padding: 2em 1em;*/
	padding: 0px !important;
	clear: both;
	min-width: 973px;
	height: 10px;
}
#portal-personaltools-wrapper{
	background-color: white;
	height: 25px;
	margin: 0;
	padding: 0;
	width: 100%;
	min-width: 970px;
	border-top: 2px solid #B1C748;
}
#portal-personaltools{
	margin: 4px 0 4px 0;
	background-color: transparent;
	padding-top: 0px;
}
#personalbar-options{
	float: right;
	margin: 4px 0 4px 0;
}
#user-name{
	padding-top: 2px;
}
#siteaction-about .eea-icon:before{
	content: "\f013";
}
#siteaction-help .eea-icon:before{
	content: "\f059";
}
#user-name .eea-icon:before,
#anon-personalbar .eea-icon:before{
	content: "\f007";
}
#siteaction-logout .eea-icon:before{
	content: "\f08b";
}
#personalbar-options li a:link,
#personalbar-options li a:visited,
#portal-personaltools li a:link,
#portal-personaltools li a:visited {
	background-color: transparent;
	height: auto;
	text-decoration: none;
	text-transform: none;
	font-size: 11px;
	color: #346f83 !important;
}
#personalbar-options li a:hover,
#portal-personaltools li a:hover{
	color: #b1c748 !important;
}
#portal-globalnav{
	min-width: 995px;
	max-width: 1024px;
	margin: 0 auto 1em auto;
}
.portaltype-question .observationDetailsRow{
	display: none;
}
.showObservationDetailsRow div{
	text-align: right;
}
.commentDate{
	display: inline-block;
}
.comment {
	padding: 0px 5px !important;
	margin-top: 0px;
}
.discussion .documentByLine {
	margin-bottom: 0.5em;
	padding: 0px 5px;
}
.commentBody {
	padding: 10px 10px !important;
}
.commentBody p {
	margin-bottom: 0px !important;
	padding-top: 5px;
}
.question div.field,
.question div.field div {
	padding: 0px;
}
.fieldTextFormat{
	display: none;
}
.suppressVisualEditor {
	display: none;
}
.chosen-choices, .chosen-results {
	margin-left: 0px !important;
}
.search-choice {
	margin-bottom: 0px !important;
	line-height: 13px !important;
}
i.observation:before{
	content: "\f15c";
	position: absolute;
	top: 12px;
	left: -3px;
	font-size: 34px;
}
#tab-observation-history,
#tab-workflow,
#tab-question-chat-room,
#tab-qa,
#tab-conclusions,
#tab-finish-observation,
#tab-conclusions-phase-1,
#tab-conclusions-phase-2{
	width: 100%;
	padding-left: 0px !important;
	padding-right: 0px !important;
}
#tab-observation-history:before,
#tab-workflow:before,
#tab-question-chat-room:before,
#tab-qa:before,
#tab-conclusions:before,
#tab-finish-observation:before,
#tab-conclusions-phase-1:before,
#tab-conclusions-phase-2:before{
	display: inline-block;
	font-family: 'FontAwesome';
	font-weight: normal;
	font-style: normal;
	line-height: inherit;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	speak: none;
	margin: 0 .3em;
	color: black;
	font-size: 2em;

}
#tab-conclusions:before,
#tab-conclusions-phase-1:before,
#tab-conclusions-phase-2:before {
	content: "\f00c";
}
#tab-observation-history:before {
	content: "\f0e8";
}
#tab-workflow:before{
	content: "\f017";
}
#tab-question-chat-room:before,
#tab-qa:before {
	content: "\f0e6";
}
#tab-finish-observation:before {
	content: "\f023";
}
