#portal-logo img {
    width: 128px;
}

#portal-footer-wrapper {
    background: linear-gradient(to top, $primary, $secondary);
}

.navbar-barceloneta,
#portal-globalnav-wrapper {
    background: linear-gradient(to top, $primary, $secondary);
    .navbar-nav li {
        background: linear-gradient(to top, $primary, $secondary);
    }
}

#content-header #portal-anontools,
#content-header #portal-siteactions {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

  li {
    padding: 0.5rem;
  }
}
